section.catalog._container._row
    h3._col-12.catalog__caption
        | Каталог товаров
    .catalog__item
        .catalog__image(style=`background-image:url(${require('../../img/pic.png')})`)
        .catalog__title
            | Абакус 17 рядов
        .catalog__price(data-old="420")
            | 300
        .catalog__btn-box
            label.button.catalog__btn(for="modal-cart" data-id="55") В корзину
        .catalog__btn-box
            label.button._s.catalog__btn(for="modal-prod") Подробнее
    .catalog__item
        .catalog__image(style=`background-image:url(${require('../../img/pic.png')})`)
        .catalog__title
            | Абакус 17 рядов
        .catalog__price(data-old="420")
            | 300
        .catalog__btn-box
            label.button.catalog__btn(for="modal-cart" data-id="55") В корзину
        .catalog__btn-box
            label.button._s.catalog__btn(for="modal-prod") Подробнее
    .catalog__item
        .catalog__image(style=`background-image:url(${require('../../img/pic.png')})`)
        .catalog__title
            | Абакус 17 рядов
        .catalog__price(data-old="420")
            | 300
        .catalog__btn-box
            label.button.catalog__btn(for="modal-cart" data-id="55") В корзину
        .catalog__btn-box
            label.button._s.catalog__btn(for="modal-prod") Подробнее
    .catalog__item
        .catalog__image(style=`background-image:url(${require('../../img/pic.png')})`)
        .catalog__title
            | Абакус 17 рядов
        .catalog__price(data-old="420")
            | 300
        .catalog__btn-box
            label.button.catalog__btn(for="modal-cart" data-id="55") В корзину
        .catalog__btn-box
            label.button._s.catalog__btn(for="modal-prod") Подробнее
    .catalog__item
        .catalog__image(style=`background-image:url(${require('../../img/pic.png')})`)
        .catalog__title
            | Абакус 17 рядов
        .catalog__price(data-old="420")
            | 300
        .catalog__btn-box
            label.button.catalog__btn(for="modal-cart" data-id="55") В корзину
        .catalog__btn-box
            label.button._s.catalog__btn(for="modal-prod") Подробнее
    .catalog__item
        .catalog__image(style=`background-image:url(${require('../../img/pic.png')})`)
        .catalog__title
            | Абакус 17 рядов
        .catalog__price(data-old="420")
            | 300
        .catalog__btn-box
            label.button.catalog__btn(for="modal-cart" data-id="55") В корзину
        .catalog__btn-box
            label.button._s.catalog__btn(for="modal-prod") Подробнее